
input[type="button"].down.anchored,
input[type="submit"].down.anchored,
input[type="reset"].down.anchored,
.button.down.anchored,
button.down.anchored {
    bottom: 0;
    border-bottom: 0;
    border-radius: 3em 3em 0 0;
    height: 4.5em;
    margin-left: -2.5em;
}
input[type="button"].anchored,
input[type="submit"].anchored,
input[type="reset"].anchored,
.button.anchored,
button.anchored {
    position: absolute;
    left: 50%;
}

form {
    margin: 0 0 2em 0;
}
form .field {
    margin: 0 0 1.5em 0;
}
form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 0.75em;
}
form .field.half.first {
    padding: 0 0.75em 0 0;
}
form > .actions {
    text-align: center;
    margin: 1.5em 0 0 0 !important;
}
@media screen and (max-width: 736px) {
    form .field {
        margin: 0 0 1em 0;
    }
    form .field.half {
        padding: 0 0 0 0.5em;
    }
    form .field.half.first {
        padding: 0 0.5em 0 0;
    }
    form > .actions {
        margin: 1em 0 0 0 !important;
    }
}
@media screen and (max-width: 480px) {
    form .field.half {
        width: 100%;
        float: none;
        padding: 0;
    }
    form .field.half.first {
        padding: 0;
    }
}
label {
    display: block;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: #39454b;
    display: block;
    width: 100%;
    padding: 0.65em 0.75em;
    background: none;
    border: solid 2px #e5e6e7;
    color: inherit;
    border-radius: 0.5em;
    outline: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: #9ac8e9;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
    line-height: 1.35em;
}
textarea {
    min-height: 8em;
}
::-moz-focus-inner {
    border: 0;
}
::-webkit-input-placeholder {
    opacity: 0.375;
}
:-moz-placeholder {
    opacity: 0.375;
}
::-moz-placeholder {
    opacity: 0.375;
}
:-ms-input-placeholder {
    opacity: 0.375;
}