@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTRdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTZ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTfy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTfgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSg7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNShdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSp6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSvy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSvgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*Drift by Pixelaritypixelarity.com | hello@pixelarity.comLicense: pixelarity.com/license*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    -webkit-text-size-adjust: none;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container.\31 25\25 {
    width: 100%;
    max-width: 1750px;
    min-width: 1400px;
}
.container.\37 5\25 {
    width: 1050px;
}
.container.\35 0\25 {
    width: 700px;
}
.container.\32 5\25 {
    width: 350px;
}
.container {
    width: 1400px;
}
@media screen and (max-width: 1680px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 1500px;
        min-width: 1200px;
    }
    .container.\37 5\25 {
        width: 900px;
    }
    .container.\35 0\25 {
        width: 600px;
    }
    .container.\32 5\25 {
        width: 300px;
    }
    .container {
        width: 1200px;
    }
}
@media screen and (max-width: 1280px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 1200px;
        min-width: 960px;
    }
    .container.\37 5\25 {
        width: 720px;
    }
    .container.\35 0\25 {
        width: 480px;
    }
    .container.\32 5\25 {
        width: 240px;
    }
    .container {
        width: 960px;
    }
}
@media screen and (max-width: 980px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }
    .container.\37 5\25 {
        width: 67.5%;
    }
    .container.\35 0\25 {
        width: 45%;
    }
    .container.\32 5\25 {
        width: 22.5%;
    }
    .container {
        width: 90%;
    }
}
@media screen and (max-width: 736px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }
    .container.\37 5\25 {
        width: 67.5%;
    }
    .container.\35 0\25 {
        width: 45%;
    }
    .container.\32 5\25 {
        width: 22.5%;
    }
    .container {
        width: 90% !important;
    }
}
@media screen and (max-width: 480px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 112.5%;
        min-width: 90%;
    }
    .container.\37 5\25 {
        width: 67.5%;
    }
    .container.\35 0\25 {
        width: 45%;
    }
    .container.\32 5\25 {
        width: 22.5%;
    }
    .container {
        width: 90% !important;
    }
}
.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after,
.row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.row.uniform > * >:first-child {
    margin-top: 0;
}
.row.uniform > * >:last-child {
    margin-bottom: 0;
}
.row.\30 \25 > * {
    padding: 0 0 0 0em;
}
.row.\30 \25 {
    margin: 0 0 -1px 0em;
}
.row.uniform.\30 \25 > * {
    padding: 0em 0 0 0em;
}
.row.uniform.\30 \25 {
    margin: 0em 0 -1px 0em;
}
.row > * {
    padding: 0 0 0 2em;
}
.row {
    margin: 0 0 -1px -2em;
}
.row.uniform > * {
    padding: 2em 0 0 2em;
}
.row.uniform {
    margin: -2em 0 -1px -2em;
}
.row.\32 00\25 > * {
    padding: 0 0 0 4em;
}
.row.\32 00\25 {
    margin: 0 0 -1px -4em;
}
.row.uniform.\32 00\25 > * {
    padding: 4em 0 0 4em;
}
.row.uniform.\32 00\25 {
    margin: -4em 0 -1px -4em;
}
.row.\31 50\25 > * {
    padding: 0 0 0 3em;
}
.row.\31 50\25 {
    margin: 0 0 -1px -3em;
}
.row.uniform.\31 50\25 > * {
    padding: 3em 0 0 3em;
}
.row.uniform.\31 50\25 {
    margin: -3em 0 -1px -3em;
}
.row.\35 0\25 > * {
    padding: 0 0 0 1em;
}
.row.\35 0\25 {
    margin: 0 0 -1px -1em;
}
.row.uniform.\35 0\25 > * {
    padding: 1em 0 0 1em;
}
.row.uniform.\35 0\25 {
    margin: -1em 0 -1px -1em;
}
.row.\32 5\25 > * {
    padding: 0 0 0 0.5em;
}
.row.\32 5\25 {
    margin: 0 0 -1px -0.5em;
}
.row.uniform.\32 5\25 > * {
    padding: 0.5em 0 0 0.5em;
}
.row.uniform.\32 5\25 {
    margin: -0.5em 0 -1px -0.5em;
}
.\31 2u,
.\31 2u\24 {
    width: 100%;
    clear: none;
    margin-left: 0;
}
.\31 1u,
.\31 1u\24 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
}
.\31 0u,
.\31 0u\24 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
}
.\39 u,
.\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
}
.\38 u,
.\38 u\24 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
}
.\37 u,
.\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
}
.\36 u,
.\36 u\24 {
    width: 50%;
    clear: none;
    margin-left: 0;
}
.\35 u,
.\35 u\24 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
}
.\34 u,
.\34 u\24 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
}
.\33 u,
.\33 u\24 {
    width: 25%;
    clear: none;
    margin-left: 0;
}
.\32 u,
.\32 u\24 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
}
.\31 u,
.\31 u\24 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
}
.\31 2u\24 + *,
.\31 1u\24 + *,
.\31 0u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
    clear: left;
}
.\-11u {
    margin-left: 91.66667%;
}
.\-10u {
    margin-left: 83.33333%;
}
.\-9u {
    margin-left: 75%;
}
.\-8u {
    margin-left: 66.66667%;
}
.\-7u {
    margin-left: 58.33333%;
}
.\-6u {
    margin-left: 50%;
}
.\-5u {
    margin-left: 41.66667%;
}
.\-4u {
    margin-left: 33.33333%;
}
.\-3u {
    margin-left: 25%;
}
.\-2u {
    margin-left: 16.66667%;
}
.\-1u {
    margin-left: 8.33333%;
}
@media screen and (max-width: 1680px) {
    .row > * {
        padding: 0 0 0 2em;
    }
    .row {
        margin: 0 0 -1px -2em;
    }
    .row.uniform > * {
        padding: 2em 0 0 2em;
    }
    .row.uniform {
        margin: -2em 0 -1px -2em;
    }
    .row.\32 00\25 > * {
        padding: 0 0 0 4em;
    }
    .row.\32 00\25 {
        margin: 0 0 -1px -4em;
    }
    .row.uniform.\32 00\25 > * {
        padding: 4em 0 0 4em;
    }
    .row.uniform.\32 00\25 {
        margin: -4em 0 -1px -4em;
    }
    .row.\31 50\25 > * {
        padding: 0 0 0 3em;
    }
    .row.\31 50\25 {
        margin: 0 0 -1px -3em;
    }
    .row.uniform.\31 50\25 > * {
        padding: 3em 0 0 3em;
    }
    .row.uniform.\31 50\25 {
        margin: -3em 0 -1px -3em;
    }
    .row.\35 0\25 > * {
        padding: 0 0 0 1em;
    }
    .row.\35 0\25 {
        margin: 0 0 -1px -1em;
    }
    .row.uniform.\35 0\25 > * {
        padding: 1em 0 0 1em;
    }
    .row.uniform.\35 0\25 {
        margin: -1em 0 -1px -1em;
    }
    .row.\32 5\25 > * {
        padding: 0 0 0 0.5em;
    }
    .row.\32 5\25 {
        margin: 0 0 -1px -0.5em;
    }
    .row.uniform.\32 5\25 > * {
        padding: 0.5em 0 0 0.5em;
    }
    .row.uniform.\32 5\25 {
        margin: -0.5em 0 -1px -0.5em;
    }
    .\31 2u\28xlarge\29,
    .\31 2u\24\28xlarge\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }
    .\31 1u\28xlarge\29,
    .\31 1u\24\28xlarge\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 0u\28xlarge\29,
    .\31 0u\24\28xlarge\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\39 u\28xlarge\29,
    .\39 u\24\28xlarge\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }
    .\38 u\28xlarge\29,
    .\38 u\24\28xlarge\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\37 u\28xlarge\29,
    .\37 u\24\28xlarge\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\36 u\28xlarge\29,
    .\36 u\24\28xlarge\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }
    .\35 u\28xlarge\29,
    .\35 u\24\28xlarge\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\34 u\28xlarge\29,
    .\34 u\24\28xlarge\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\33 u\28xlarge\29,
    .\33 u\24\28xlarge\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }
    .\32 u\28xlarge\29,
    .\32 u\24\28xlarge\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 u\28xlarge\29,
    .\31 u\24\28xlarge\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\31 2u\24\28xlarge\29 + *,
    .\31 1u\24\28xlarge\29 + *,
    .\31 0u\24\28xlarge\29 + *,
    .\39 u\24\28xlarge\29 + *,
    .\38 u\24\28xlarge\29 + *,
    .\37 u\24\28xlarge\29 + *,
    .\36 u\24\28xlarge\29 + *,
    .\35 u\24\28xlarge\29 + *,
    .\34 u\24\28xlarge\29 + *,
    .\33 u\24\28xlarge\29 + *,
    .\32 u\24\28xlarge\29 + *,
    .\31 u\24\28xlarge\29 + * {
        clear: left;
    }
    .\-11u\28xlarge\29 {
        margin-left: 91.66667%;
    }
    .\-10u\28xlarge\29 {
        margin-left: 83.33333%;
    }
    .\-9u\28xlarge\29 {
        margin-left: 75%;
    }
    .\-8u\28xlarge\29 {
        margin-left: 66.66667%;
    }
    .\-7u\28xlarge\29 {
        margin-left: 58.33333%;
    }
    .\-6u\28xlarge\29 {
        margin-left: 50%;
    }
    .\-5u\28xlarge\29 {
        margin-left: 41.66667%;
    }
    .\-4u\28xlarge\29 {
        margin-left: 33.33333%;
    }
    .\-3u\28xlarge\29 {
        margin-left: 25%;
    }
    .\-2u\28xlarge\29 {
        margin-left: 16.66667%;
    }
    .\-1u\28xlarge\29 {
        margin-left: 8.33333%;
    }
}
@media screen and (max-width: 1280px) {
    .row > * {
        padding: 0 0 0 1.5em;
    }
    .row {
        margin: 0 0 -1px -1.5em;
    }
    .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
    }
    .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
    }
    .row.\32 00\25 > * {
        padding: 0 0 0 3em;
    }
    .row.\32 00\25 {
        margin: 0 0 -1px -3em;
    }
    .row.uniform.\32 00\25 > * {
        padding: 3em 0 0 3em;
    }
    .row.uniform.\32 00\25 {
        margin: -3em 0 -1px -3em;
    }
    .row.\31 50\25 > * {
        padding: 0 0 0 2.25em;
    }
    .row.\31 50\25 {
        margin: 0 0 -1px -2.25em;
    }
    .row.uniform.\31 50\25 > * {
        padding: 2.25em 0 0 2.25em;
    }
    .row.uniform.\31 50\25 {
        margin: -2.25em 0 -1px -2.25em;
    }
    .row.\35 0\25 > * {
        padding: 0 0 0 0.75em;
    }
    .row.\35 0\25 {
        margin: 0 0 -1px -0.75em;
    }
    .row.uniform.\35 0\25 > * {
        padding: 0.75em 0 0 0.75em;
    }
    .row.uniform.\35 0\25 {
        margin: -0.75em 0 -1px -0.75em;
    }
    .row.\32 5\25 > * {
        padding: 0 0 0 0.375em;
    }
    .row.\32 5\25 {
        margin: 0 0 -1px -0.375em;
    }
    .row.uniform.\32 5\25 > * {
        padding: 0.375em 0 0 0.375em;
    }
    .row.uniform.\32 5\25 {
        margin: -0.375em 0 -1px -0.375em;
    }
    .\31 2u\28large\29,
    .\31 2u\24\28large\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }
    .\31 1u\28large\29,
    .\31 1u\24\28large\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 0u\28large\29,
    .\31 0u\24\28large\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\39 u\28large\29,
    .\39 u\24\28large\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }
    .\38 u\28large\29,
    .\38 u\24\28large\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\37 u\28large\29,
    .\37 u\24\28large\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\36 u\28large\29,
    .\36 u\24\28large\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }
    .\35 u\28large\29,
    .\35 u\24\28large\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\34 u\28large\29,
    .\34 u\24\28large\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\33 u\28large\29,
    .\33 u\24\28large\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }
    .\32 u\28large\29,
    .\32 u\24\28large\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 u\28large\29,
    .\31 u\24\28large\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\31 2u\24\28large\29 + *,
    .\31 1u\24\28large\29 + *,
    .\31 0u\24\28large\29 + *,
    .\39 u\24\28large\29 + *,
    .\38 u\24\28large\29 + *,
    .\37 u\24\28large\29 + *,
    .\36 u\24\28large\29 + *,
    .\35 u\24\28large\29 + *,
    .\34 u\24\28large\29 + *,
    .\33 u\24\28large\29 + *,
    .\32 u\24\28large\29 + *,
    .\31 u\24\28large\29 + * {
        clear: left;
    }
    .\-11u\28large\29 {
        margin-left: 91.66667%;
    }
    .\-10u\28large\29 {
        margin-left: 83.33333%;
    }
    .\-9u\28large\29 {
        margin-left: 75%;
    }
    .\-8u\28large\29 {
        margin-left: 66.66667%;
    }
    .\-7u\28large\29 {
        margin-left: 58.33333%;
    }
    .\-6u\28large\29 {
        margin-left: 50%;
    }
    .\-5u\28large\29 {
        margin-left: 41.66667%;
    }
    .\-4u\28large\29 {
        margin-left: 33.33333%;
    }
    .\-3u\28large\29 {
        margin-left: 25%;
    }
    .\-2u\28large\29 {
        margin-left: 16.66667%;
    }
    .\-1u\28large\29 {
        margin-left: 8.33333%;
    }
}
@media screen and (max-width: 980px) {
    .row > * {
        padding: 0 0 0 1.5em;
    }
    .row {
        margin: 0 0 -1px -1.5em;
    }
    .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
    }
    .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
    }
    .row.\32 00\25 > * {
        padding: 0 0 0 3em;
    }
    .row.\32 00\25 {
        margin: 0 0 -1px -3em;
    }
    .row.uniform.\32 00\25 > * {
        padding: 3em 0 0 3em;
    }
    .row.uniform.\32 00\25 {
        margin: -3em 0 -1px -3em;
    }
    .row.\31 50\25 > * {
        padding: 0 0 0 2.25em;
    }
    .row.\31 50\25 {
        margin: 0 0 -1px -2.25em;
    }
    .row.uniform.\31 50\25 > * {
        padding: 2.25em 0 0 2.25em;
    }
    .row.uniform.\31 50\25 {
        margin: -2.25em 0 -1px -2.25em;
    }
    .row.\35 0\25 > * {
        padding: 0 0 0 0.75em;
    }
    .row.\35 0\25 {
        margin: 0 0 -1px -0.75em;
    }
    .row.uniform.\35 0\25 > * {
        padding: 0.75em 0 0 0.75em;
    }
    .row.uniform.\35 0\25 {
        margin: -0.75em 0 -1px -0.75em;
    }
    .row.\32 5\25 > * {
        padding: 0 0 0 0.375em;
    }
    .row.\32 5\25 {
        margin: 0 0 -1px -0.375em;
    }
    .row.uniform.\32 5\25 > * {
        padding: 0.375em 0 0 0.375em;
    }
    .row.uniform.\32 5\25 {
        margin: -0.375em 0 -1px -0.375em;
    }
    .\31 2u\28medium\29,
    .\31 2u\24\28medium\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }
    .\31 1u\28medium\29,
    .\31 1u\24\28medium\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 0u\28medium\29,
    .\31 0u\24\28medium\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\39 u\28medium\29,
    .\39 u\24\28medium\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }
    .\38 u\28medium\29,
    .\38 u\24\28medium\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\37 u\28medium\29,
    .\37 u\24\28medium\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\36 u\28medium\29,
    .\36 u\24\28medium\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }
    .\35 u\28medium\29,
    .\35 u\24\28medium\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\34 u\28medium\29,
    .\34 u\24\28medium\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\33 u\28medium\29,
    .\33 u\24\28medium\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }
    .\32 u\28medium\29,
    .\32 u\24\28medium\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 u\28medium\29,
    .\31 u\24\28medium\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\31 2u\24\28medium\29 + *,
    .\31 1u\24\28medium\29 + *,
    .\31 0u\24\28medium\29 + *,
    .\39 u\24\28medium\29 + *,
    .\38 u\24\28medium\29 + *,
    .\37 u\24\28medium\29 + *,
    .\36 u\24\28medium\29 + *,
    .\35 u\24\28medium\29 + *,
    .\34 u\24\28medium\29 + *,
    .\33 u\24\28medium\29 + *,
    .\32 u\24\28medium\29 + *,
    .\31 u\24\28medium\29 + * {
        clear: left;
    }
    .\-11u\28medium\29 {
        margin-left: 91.66667%;
    }
    .\-10u\28medium\29 {
        margin-left: 83.33333%;
    }
    .\-9u\28medium\29 {
        margin-left: 75%;
    }
    .\-8u\28medium\29 {
        margin-left: 66.66667%;
    }
    .\-7u\28medium\29 {
        margin-left: 58.33333%;
    }
    .\-6u\28medium\29 {
        margin-left: 50%;
    }
    .\-5u\28medium\29 {
        margin-left: 41.66667%;
    }
    .\-4u\28medium\29 {
        margin-left: 33.33333%;
    }
    .\-3u\28medium\29 {
        margin-left: 25%;
    }
    .\-2u\28medium\29 {
        margin-left: 16.66667%;
    }
    .\-1u\28medium\29 {
        margin-left: 8.33333%;
    }
}
@media screen and (max-width: 736px) {
    .row > * {
        padding: 0 0 0 1.25em;
    }
    .row {
        margin: 0 0 -1px -1.25em;
    }
    .row.uniform > * {
        padding: 1.25em 0 0 1.25em;
    }
    .row.uniform {
        margin: -1.25em 0 -1px -1.25em;
    }
    .row.\32 00\25 > * {
        padding: 0 0 0 2.5em;
    }
    .row.\32 00\25 {
        margin: 0 0 -1px -2.5em;
    }
    .row.uniform.\32 00\25 > * {
        padding: 2.5em 0 0 2.5em;
    }
    .row.uniform.\32 00\25 {
        margin: -2.5em 0 -1px -2.5em;
    }
    .row.\31 50\25 > * {
        padding: 0 0 0 1.875em;
    }
    .row.\31 50\25 {
        margin: 0 0 -1px -1.875em;
    }
    .row.uniform.\31 50\25 > * {
        padding: 1.875em 0 0 1.875em;
    }
    .row.uniform.\31 50\25 {
        margin: -1.875em 0 -1px -1.875em;
    }
    .row.\35 0\25 > * {
        padding: 0 0 0 0.625em;
    }
    .row.\35 0\25 {
        margin: 0 0 -1px -0.625em;
    }
    .row.uniform.\35 0\25 > * {
        padding: 0.625em 0 0 0.625em;
    }
    .row.uniform.\35 0\25 {
        margin: -0.625em 0 -1px -0.625em;
    }
    .row.\32 5\25 > * {
        padding: 0 0 0 0.3125em;
    }
    .row.\32 5\25 {
        margin: 0 0 -1px -0.3125em;
    }
    .row.uniform.\32 5\25 > * {
        padding: 0.3125em 0 0 0.3125em;
    }
    .row.uniform.\32 5\25 {
        margin: -0.3125em 0 -1px -0.3125em;
    }
    .\31 2u\28small\29,
    .\31 2u\24\28small\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }
    .\31 1u\28small\29,
    .\31 1u\24\28small\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 0u\28small\29,
    .\31 0u\24\28small\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\39 u\28small\29,
    .\39 u\24\28small\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }
    .\38 u\28small\29,
    .\38 u\24\28small\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\37 u\28small\29,
    .\37 u\24\28small\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\36 u\28small\29,
    .\36 u\24\28small\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }
    .\35 u\28small\29,
    .\35 u\24\28small\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\34 u\28small\29,
    .\34 u\24\28small\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\33 u\28small\29,
    .\33 u\24\28small\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }
    .\32 u\28small\29,
    .\32 u\24\28small\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 u\28small\29,
    .\31 u\24\28small\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\31 2u\24\28small\29 + *,
    .\31 1u\24\28small\29 + *,
    .\31 0u\24\28small\29 + *,
    .\39 u\24\28small\29 + *,
    .\38 u\24\28small\29 + *,
    .\37 u\24\28small\29 + *,
    .\36 u\24\28small\29 + *,
    .\35 u\24\28small\29 + *,
    .\34 u\24\28small\29 + *,
    .\33 u\24\28small\29 + *,
    .\32 u\24\28small\29 + *,
    .\31 u\24\28small\29 + * {
        clear: left;
    }
    .\-11u\28small\29 {
        margin-left: 91.66667%;
    }
    .\-10u\28small\29 {
        margin-left: 83.33333%;
    }
    .\-9u\28small\29 {
        margin-left: 75%;
    }
    .\-8u\28small\29 {
        margin-left: 66.66667%;
    }
    .\-7u\28small\29 {
        margin-left: 58.33333%;
    }
    .\-6u\28small\29 {
        margin-left: 50%;
    }
    .\-5u\28small\29 {
        margin-left: 41.66667%;
    }
    .\-4u\28small\29 {
        margin-left: 33.33333%;
    }
    .\-3u\28small\29 {
        margin-left: 25%;
    }
    .\-2u\28small\29 {
        margin-left: 16.66667%;
    }
    .\-1u\28small\29 {
        margin-left: 8.33333%;
    }
}
@media screen and (max-width: 480px) {
    .row > * {
        padding: 0 0 0 1.25em;
    }
    .row {
        margin: 0 0 -1px -1.25em;
    }
    .row.uniform > * {
        padding: 1.25em 0 0 1.25em;
    }
    .row.uniform {
        margin: -1.25em 0 -1px -1.25em;
    }
    .row.\32 00\25 > * {
        padding: 0 0 0 2.5em;
    }
    .row.\32 00\25 {
        margin: 0 0 -1px -2.5em;
    }
    .row.uniform.\32 00\25 > * {
        padding: 2.5em 0 0 2.5em;
    }
    .row.uniform.\32 00\25 {
        margin: -2.5em 0 -1px -2.5em;
    }
    .row.\31 50\25 > * {
        padding: 0 0 0 1.875em;
    }
    .row.\31 50\25 {
        margin: 0 0 -1px -1.875em;
    }
    .row.uniform.\31 50\25 > * {
        padding: 1.875em 0 0 1.875em;
    }
    .row.uniform.\31 50\25 {
        margin: -1.875em 0 -1px -1.875em;
    }
    .row.\35 0\25 > * {
        padding: 0 0 0 0.625em;
    }
    .row.\35 0\25 {
        margin: 0 0 -1px -0.625em;
    }
    .row.uniform.\35 0\25 > * {
        padding: 0.625em 0 0 0.625em;
    }
    .row.uniform.\35 0\25 {
        margin: -0.625em 0 -1px -0.625em;
    }
    .row.\32 5\25 > * {
        padding: 0 0 0 0.3125em;
    }
    .row.\32 5\25 {
        margin: 0 0 -1px -0.3125em;
    }
    .row.uniform.\32 5\25 > * {
        padding: 0.3125em 0 0 0.3125em;
    }
    .row.uniform.\32 5\25 {
        margin: -0.3125em 0 -1px -0.3125em;
    }
    .\31 2u\28xsmall\29,
    .\31 2u\24\28xsmall\29 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }
    .\31 1u\28xsmall\29,
    .\31 1u\24\28xsmall\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 0u\28xsmall\29,
    .\31 0u\24\28xsmall\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\39 u\28xsmall\29,
    .\39 u\24\28xsmall\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }
    .\38 u\28xsmall\29,
    .\38 u\24\28xsmall\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\37 u\28xsmall\29,
    .\37 u\24\28xsmall\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\36 u\28xsmall\29,
    .\36 u\24\28xsmall\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }
    .\35 u\28xsmall\29,
    .\35 u\24\28xsmall\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\34 u\28xsmall\29,
    .\34 u\24\28xsmall\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\33 u\28xsmall\29,
    .\33 u\24\28xsmall\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }
    .\32 u\28xsmall\29,
    .\32 u\24\28xsmall\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }
    .\31 u\28xsmall\29,
    .\31 u\24\28xsmall\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }
    .\31 2u\24\28xsmall\29 + *,
    .\31 1u\24\28xsmall\29 + *,
    .\31 0u\24\28xsmall\29 + *,
    .\39 u\24\28xsmall\29 + *,
    .\38 u\24\28xsmall\29 + *,
    .\37 u\24\28xsmall\29 + *,
    .\36 u\24\28xsmall\29 + *,
    .\35 u\24\28xsmall\29 + *,
    .\34 u\24\28xsmall\29 + *,
    .\33 u\24\28xsmall\29 + *,
    .\32 u\24\28xsmall\29 + *,
    .\31 u\24\28xsmall\29 + * {
        clear: left;
    }
    .\-11u\28xsmall\29 {
        margin-left: 91.66667%;
    }
    .\-10u\28xsmall\29 {
        margin-left: 83.33333%;
    }
    .\-9u\28xsmall\29 {
        margin-left: 75%;
    }
    .\-8u\28xsmall\29 {
        margin-left: 66.66667%;
    }
    .\-7u\28xsmall\29 {
        margin-left: 58.33333%;
    }
    .\-6u\28xsmall\29 {
        margin-left: 50%;
    }
    .\-5u\28xsmall\29 {
        margin-left: 41.66667%;
    }
    .\-4u\28xsmall\29 {
        margin-left: 33.33333%;
    }
    .\-3u\28xsmall\29 {
        margin-left: 25%;
    }
    .\-2u\28xsmall\29 {
        margin-left: 16.66667%;
    }
    .\-1u\28xsmall\29 {
        margin-left: 8.33333%;
    }
}
body {
    background: #fff;
}
body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
body,
input,
select,
textarea {
    color: #646464;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.75em;
}
a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    color: #47cdd9;
    text-decoration: none;
    border-bottom: dotted 1px;
}
a:hover {
    text-decoration: none;
    color: #47cdd9 !important;
    border-bottom-color: transparent;
}
strong,
b {
    color: #545454;
    font-weight: 700;
}
em,
i {
    font-style: italic;
}
p {
    margin: 0 0 2em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #545454;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em 0;
    letter-spacing: -0.01em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}
h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}
h3 {
    font-size: 1.25em;
    line-height: 1.5em;
}
h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}
h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}
h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}
sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}
sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}
hr {
    border: 0;
    border-bottom: solid 1px rgba(144, 144, 144, 0.25);
    margin: 2em 0;
}
hr.major {
    margin: 3em 0;
}
blockquote {
    border-left: solid 4px rgba(144, 144, 144, 0.25);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}
code {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}
pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}
pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
section.special,
article.special {
    text-align: center;
}
header p {
    color: #949494;
    position: relative;
    margin: 0 0 1.5em 0;
}
header h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.75em;
}
header h3 + p {
    font-size: 1.1em;
    margin-top: -0.85em;
    line-height: 1.5em;
}
header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
    margin-top: -0.75em;
    line-height: 1.5em;
}
header.major {
    text-align: center;
}
header.major h2 {
    font-size: 2.35em;
}
header.major p {
    margin: -1em 0 3.5em 0;
}
form {
    margin: 0 0 2em 0;
}
label {
    color: #545454;
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 0 1em 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0.5em;
    border: none;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #47cdd9;
    box-shadow: 0 0 0 1px #47cdd9;
}
.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}
.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.select-wrapper:before {
    content: '\f078';
    color: rgba(144, 144, 144, 0.25);
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em;
}
.select-wrapper select::-ms-expand {
    display: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}
textarea {
    padding: 0.75em 1em;
}
input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #646464;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.075);
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #494d53;
    border-color: #494d53;
    color: #ffffff;
    content: '\f00c';
}
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #47cdd9;
    box-shadow: 0 0 0 1px #47cdd9;
}
input[type="checkbox"] + label:before {
    border-radius: 0.5em;
}
input[type="radio"] + label:before {
    border-radius: 100%;
}
::-webkit-input-placeholder {
    color: #949494 !important;
    opacity: 1.0;
}
:-moz-placeholder {
    color: #949494 !important;
    opacity: 1.0;
}
::-moz-placeholder {
    color: #949494 !important;
    opacity: 1.0;
}
:-ms-input-placeholder {
    color: #949494 !important;
    opacity: 1.0;
}
.formerize-placeholder {
    color: #949494 !important;
    opacity: 1.0;
}
.box {
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 2em;
    padding: 2em;
}
.box >:last-child,
.box >:last-child >:last-child,
.box >:last-child >:last-child >:last-child {
    margin-bottom: 0;
}
.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}
.box.post {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.box.post .image:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: -2em 0 2em -2em;
    width: calc(100% + 4em);
}
.box.post .image:first-child img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.icon > .label {
    display: none;
}
.image {
    border-radius: 0.5em;
    border: 0;
    display: inline-block;
    position: relative;
}
.image img {
    position: relative;
    border-radius: 0.5em;
    display: block;
}
.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}
.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}
.image.left,
.image.right {
    max-width: 40%;
}
.image.left img,
.image.right img {
    width: 100%;
}
.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}
.image.fit img {
    display: block;
    width: 100%;
}
ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}
ol li {
    padding-left: 0.25em;
}
ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}
ul li {
    padding-left: 0.5em;
}
ul.alt {
    list-style: none;
    padding-left: 0;
}
ul.alt li {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    padding: 0.5em 0;
}
ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display: inline-block;
    padding: 0 1.25em 0 0;
}
ul.icons li:last-child {
    padding-right: 0 !important;
}
ul.icons li .icon {
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: #949494 !important;
    display: inline-block;
    font-size: 1.25em;
    height: 2.75em;
    line-height: 2.75em;
    text-align: center;
    width: 2.75em;
}
ul.icons li a.icon {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
ul.icons li a.icon:hover {
    background-color: rgba(144, 144, 144, 0.075);
}
ul.icons li a.icon:active {
    background-color: rgba(144, 144, 144, 0.2);
}
ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}
ul.actions li:last-child {
    padding-right: 0;
}
ul.actions.small li {
    padding: 0 0.5em 0 0;
}
ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}
ul.actions.vertical li:first-child {
    padding-top: 0;
}
ul.actions.vertical li > * {
    margin-bottom: 0;
}
ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}
ul.actions.vertical.small li:first-child {
    padding-top: 0;
}
ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}
ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}
ul.actions.fit li > * {
    margin-bottom: 0;
}
ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}
ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}
ul.menu {
    line-height: 1em;
    list-style: none;
    padding: 0;
}
ul.menu li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
}
ul.menu li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}
dl {
    margin: 0 0 2em 0;
}
.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}
table {
    margin: 0 0 2em 0;
    width: 100%;
}
table tbody tr {
    border: solid 1px rgba(144, 144, 144, 0.25);
    border-left: 0;
    border-right: 0;
}
table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}
table td {
    padding: 0.75em 0.75em;
}
table th {
    color: #545454;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}
table thead {
    border-bottom: solid 2px rgba(144, 144, 144, 0.25);
}
table tfoot {
    border-top: solid 2px rgba(144, 144, 144, 0.25);
}
table.alt {
    border-collapse: separate;
}
table.alt tbody tr td {
    border: solid 1px rgba(144, 144, 144, 0.25);
    border-left-width: 0;
    border-top-width: 0;
}
table.alt tbody tr td:first-child {
    border-left-width: 1px;
}
table.alt tbody tr:first-child td {
    border-top-width: 1px;
}
table.alt thead {
    border-bottom: 0;
}
table.alt tfoot {
    border-top: 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25) !important;
    color: #545454 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.1em;
    line-height: 3.5em;
    overflow: hidden;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background-color: rgba(144, 144, 144, 0.075);
    color: #545454 !important;
}
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
    background-color: rgba(144, 144, 144, 0.2);
}
input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
    padding-left: 1.35em;
}
input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
    margin-right: 0.5em;
}
input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}
input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
.button.big {
    font-size: 1em;
    height: 3.5em;
    line-height: 3.5em;
    padding: 0 2.25em;
}
input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
.button.special {
    background-color: #47cdd9;
    color: #ffffff !important;
}
input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
.button.special:hover {
    background-color: #5cd3dd;
}
input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
.button.special:active {
    background-color: #32c7d5;
}
input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
.button.disabled,
.button:disabled {
    background-color: #646464 !important;
    box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
}
.feature {
    text-decoration: none;
    padding-left: 6.5em;
    position: relative;
    text-align: left;
}
.feature:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.feature:before {
    border-radius: 0.5em;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color: #47cdd9;
    display: inline-block;
    font-size: 2.25em;
    height: 2em;
    left: 0;
    line-height: 2em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2em;
}
.feature h3 {
    margin: 0 0 0.7em 0;
}
.slider {
    position: relative;
}
.slider .viewer {
    position: relative;
    border-radius: 0.5em;
    border: solid 1.5em #fff;
    height: 20em;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}
.slider .slide img {
    border-radius: 0.375em;
    display: block;
    width: 100%;
}
.slider .nav-next,
.slider .nav-previous {
    text-decoration: none;
    background: #fff;
    border-radius: 100%;
    color: #ddd;
    cursor: pointer;
    display: block;
    font-size: 3em;
    height: 1.25em;
    line-height: 1.15em;
    margin-top: -0.5em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.25em;
}
.slider .nav-next:before,
.slider .nav-previous:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.slider .nav-next:before,
.slider .nav-previous:before {
    position: relative;
}
.slider .nav-next {
    right: 0;
}
.slider .nav-next:before {
    content: '\f105';
    right: -0.05em;
}
.slider .nav-previous {
    left: 0;
}
.slider .nav-previous:before {
    content: '\f104';
    left: -0.05em;
}
.wrapper {
    padding: 5em 0 3em 0;
}
.wrapper.style1 {
    background: #f2f2f2;
}
.wrapper.style1 .box {
    background: #ffffff;
    border: 0;
}
.wrapper.style2 {
    background: #ffffff;
}
.wrapper.style3 {
    background: #47cdd9;
    color: #d1f2f5;
}
.wrapper.style3 h1,
.wrapper.style3 h2,
.wrapper.style3 h3,
.wrapper.style3 h4,
.wrapper.style3 h5,
.wrapper.style3 h6 {
    color: #ffffff;
}
.wrapper.style3 header p {
    color: #b5ebef;
}
.wrapper.style3 .button {
    border-color: white !important;
    color: #ffffff !important;
}
.wrapper.style3 .button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}
.wrapper.style3 .button:active {
    background-color: rgba(255, 255, 255, 0.2);
}
body {
    padding-top: 3em;
}
body.landing {
    padding-top: 0;
    display: flex;
}
@-moz-keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}
@-ms-keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}
@keyframes reveal-header {
    0% {
        top: -5em;
    }
    100% {
        top: 0;
    }
}
#header {
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: inherit;
    cursor: default;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#header.reveal {
    -moz-animation: reveal-header 0.5s;
    -webkit-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s;
}
#header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
}
#header h1 {
    color: inherit;
    font-size: 1em;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
#header h1 span {
    font-weight: 300;
}
#header h1 a {
    border: 0;
}
#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 3em;
    top: 0;
    vertical-align: middle;
}
#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#header nav > ul > li {
    border-radius: 0.5em;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0;
}
#header nav > ul > li a {
    border: 0;
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
#header nav > ul > li a.icon:before {
    margin-right: 0.5em;
}
#header nav > ul > li:first-child {
    margin-left: 0;
}
#header nav > ul > li .button {
    height: 2.25em;
    line-height: 2.25em;
    margin-bottom: 0;
    padding: 0 1em;
    position: relative;
    top: -0.075em;
    vertical-align: middle;
}
#header nav > ul > li > ul {
    display: none;
}
#header .container {
    position: relative;
}
#header .container h1 {
    left: 0;
}
#header .container nav {
    right: 0;
}
.dropotron {
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
    list-style: none;
    margin-top: -0.75em;
    min-width: 10em;
    padding: 0.75em 0;
}
.dropotron li {
    padding: 0;
}
.dropotron li a {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    border: 0;
    box-shadow: inset 0 1px 0 0 rgba(144, 144, 144, 0.2);
    color: inherit;
    display: block;
    line-height: 2.25em;
    padding: 0 1em;
}
.dropotron li:first-child > a {
    box-shadow: none;
}
.dropotron li.active > a,
.dropotron li:hover > a {
    background: #47cdd9;
    color: #ffffff !important;
}
.dropotron.level-0 {
    font-size: 0.9em;
    margin-top: 1em;
}
.dropotron.level-0:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    content: '';
    display: block;
    height: 0.75em;
    position: absolute;
    right: 1.5em;
    top: -0.375em;
    width: 0.75em;
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: -1px -1px 2px 0 rgba(0, 0, 0, 0.05);
}
#banner {
    background-attachment: scroll, fixed;
    background-color: #494d53;
    background-image: url("../images/overlay.png"), url("../images/banner-eliza-01-medium.jpg");
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    color: #d1d2d4;
    padding: 16em 0;
    position: relative;
    text-align: center;
    width: 100%;
}
#banner:after {
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    background: #3d4045;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#banner:last-child {
    margin-bottom: 0;
}
#banner h1,
#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
    color: #222;
    text-shadow: 0px 1px 3px #fff;
}
#banner .inner {
    position: relative;
    z-index: 2;
}
#banner .button {
    border-color: white !important;
    color: #ffffff !important;
}
#banner .button:hover {
    background-color: rgba(255, 255, 255, 0.075);
}
#banner .button:active {
    background-color: rgba(255, 255, 255, 0.2);
}
#banner h2 {
    font-size: 3.25em;
    line-height: 1.25em;
    margin: 0 0 0.5em 0;
    padding: 0;
}
#banner p {
    font-size: 1.5em;
    margin-bottom: 1.75em;
    color: #222;
    font-weight: bold;
    text-shadow: 0px 1px 3px #fff;
}
body.is-loading #banner:after {
    opacity: 1.0;
}
#one {
    padding-bottom: 0;
}
#one .slider .viewer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}
#one .slider .slide img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#main > .container {
    position: relative;
    background: #ffffff;
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding: 3em;
}
#main > .container >:last-child,
#main > .container >:last-child >:last-child,
#main > .container >:last-child >:last-child >:last-child {
    margin-bottom: 0;
}
#cta {
    padding: 4em 0;
    text-align: center;
    vertical-align: middle;
}
#cta h2 {
    display: inline-block;
    margin: 0 1em 0 0;
    vertical-align: middle;
}
#cta .actions {
    display: inline-block;
    margin: 0;
}
#footer {
    color: #949494;
    padding: 4em 0;
    text-align: center;
}
#footer .icons {
    margin: 0 0 4em 0;
}
#footer .menu a {
    color: inherit;
}
#footer .copyright {
    font-size: 0.8em;
}
@media screen and (max-width: 1680px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
    /* #banner {
        padding: 8em 0 12em;
    } */
}
@media screen and (max-width: 1280px) {
    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }
    .dropotron.level-0 {
        font-size: 1em;
    }
    #banner {
        background-attachment: scroll;
        padding: 10em 0;
    }
}
#navPanel {
    display: none;
}
@media screen and (max-width: 980px) {
    html,
    body {
        overflow-x: hidden;
    }
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
        display: none;
    }
    header br {
        display: none;
    }
    .feature {
        padding-left: 0;
        text-align: center;
    }
    .feature:before {
        margin: 0 0 0.7em 0;
        position: relative;
    }
    .feature p {
        padding: 0 2em;
    }
    .slider .viewer {
        border-width: 1em;
        width: 100%;
    }
    .slider .slide img {
        border-radius: 0.375em;
        display: block;
        width: 100%;
    }
    .slider .nav-next,
    .slider .nav-previous {
        background: none;
        border-radius: 0;
        color: #fff;
        height: 100%;
        margin-top: 0;
        top: 0;
        vertical-align: bottom;
        width: 50%;
        z-index: 1;
    }
    .slider .nav-next:before,
    .slider .nav-previous:before {
        display: block;
        height: 2em;
        line-height: 2em;
        margin-top: -1em;
        padding: 0 1em;
        top: 50%;
        width: 100%;
    }
    .slider .nav-next {
        right: 0;
        text-align: right;
    }
    .slider .nav-previous {
        left: 0;
        text-align: left;
    }
    body {
        padding-top: 0;
    }
    #header {
        display: none;
    }
    #banner {
        padding: 12em 2em;
    }
    #navButton {
        display: block;
        height: 4em;
        left: 0;
        position: fixed;
        top: 0;
        width: 6em;
        z-index: 10001;
    }
    #navButton .toggle {
        text-decoration: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        outline: 0;
        border: 0;
    }
    #navButton .toggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
    #navButton .toggle:before {
        background: rgba(103, 107, 113, 0.75);
        border-radius: 0.5em;
        color: #fff;
        content: '\f0c9';
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }
    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background-color: #fff;
        box-shadow: 0.5em 0 2em 0 rgba(0, 0, 0, 0.1);
        padding: 0.5em 1.5em;
    }
    #navPanel .link {
        border: 0;
        border-top: solid 1px rgba(144, 144, 144, 0.2);
        color: #646464 !important;
        display: block;
        height: 3em;
        line-height: 3em;
        text-decoration: none;
    }
    #navPanel .link:first-child {
        border-top: 0;
    }
    #navPanel .link.depth-0 {
        font-weight: 700;
        color: #545454 !important;
    }
    #navPanel .link .indent-1 {
        display: inline-block;
        width: 1.25em;
    }
    #navPanel .link .indent-2 {
        display: inline-block;
        width: 2.5em;
    }
    #navPanel .link .indent-3 {
        display: inline-block;
        width: 3.75em;
    }
    #navPanel .link .indent-4 {
        display: inline-block;
        width: 5em;
    }
    #navPanel .link .indent-5 {
        display: inline-block;
        width: 6.25em;
    }
    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@media screen and (max-width: 736px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
    h2 {
        font-size: 1.25em;
        line-height: 1.5em;
    }
    h3 {
        font-size: 1.1em;
        line-height: 1.5em;
    }
    h4 {
        font-size: 1em;
        line-height: 1.5em;
    }
    header h2 + p {
        font-size: 1em;
        margin-top: -0.85em;
        line-height: 1.5em;
    }
    header h3 + p {
        font-size: 1em;
        margin-top: -0.85em;
        line-height: 1.5em;
    }
    header.major h2 {
        font-size: 1.5em;
    }
    header.major p {
        margin: -1em 0 2.5em 0;
    }
    ul.icons li {
        padding: 0 0.75em 0 0;
    }
    ul.icons li .icon {
        font-size: 0.9em;
    }
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .button {
        font-size: 0.8em !important;
    }
    .box.post {
        max-width: 23em;
    }
    .slider .viewer {
        border-width: 0.5em;
    }
    .wrapper {
        padding: 3em 0 1em 0;
    }
    #banner {
        padding: 5em 2em 4em 2em;
    }
    #banner h2 {
        font-size: 2em;
    }
    #banner p {
        font-size: 1.1em;
    }
    #main > header {
        padding: 0 2em;
    }
    #main > .container {
        padding: 2em 1em;
    }
    #content > .image.fit:first-child {
        margin: -2em 0 2em -1em;
        width: calc(100% + 2em);
    }
    #content > .image.fit:first-child img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #cta {
        padding: 2em 0;
    }
    #footer {
        padding: 2em 0;
    }
    #footer .icons {
        margin: 0 0 2em 0;
    }
}
@media screen and (max-width: 480px) {
    html,
    body {
        min-width: 320px;
    }
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
    ul.actions {
        margin: 0 0 2em 0;
    }
    ul.actions li {
        display: block;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
    ul.actions li > * {
        margin: 0 !important;
        width: 100%;
    }
    ul.actions li > *.icon:before {
        margin-left: -2em;
    }
    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.small li:first-child {
        padding-top: 0;
    }
    ul.menu {
        font-size: 0.8em;
        line-height: 2em;
    }
    ul.menu li {
        border: 0;
        margin: 0;
        padding: 0 0.5em !important;
    }
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    .button {
        padding: 0;
    }
    .slider {
        position: relative;
    }
    .slider .viewer {
        border-radius: 0 !important;
        border-width: 0em;
        margin-left: -5vw;
        width: 100vw;
    }
    .slider .slide img {
        border-radius: 0 !important;
    }
    .slider .nav-next:before,
    .slider .nav-previous:before {
        font-size: 0.8em;
    }
    #banner {
        padding: 5em 2em 4em 2em;
    }
    #cta {
        padding: 2em;
    }
    #cta h2 {
        display: block;
        margin: 0 0 1em 0;
    }
    #cta .actions {
        display: block;
    }
}